.page-jumbotron {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;

    h1 {
        margin: 0;
    }
    @media #{$sm} {
        & {
            padding: 60px 0;
        }
    }
    @media #{$xs} {
        & {
            padding: 80px 0;
        }
    }
}

.series-page-jumbotron {
    background: $bread-letter-two;
}

.category-page-jumbotron {
    background: #231F20;
}

.video-page-jumbotron {
    background: #C8A667;
}

.blog-page-jumbotron {
    background: #249d9E;
}

.not-found-page-jumbotron {
    background: red;
}
