body {
    color: $font-color;
}

@media #{$sm} {
    body {
        padding-top: 82px;
    }
}
@media #{$xs} {
    body {
        padding-top: 50px;
    }
}

::selection {
    background: #c0ecf4;
}
