body {
    color: $font-color;
}

@media #{$sm} {
    body {
        padding-top: 88px;
    }
}
@media #{$xs} {
    body {
        padding-top: 50px;
    }
}

.breadcrumb {
    margin-bottom: 0;
}

::selection {
    background: #c0ecf4;
}
