//** custom color
@import "helpers/variables";
//** screen width helper
@import "helpers/screen";
//** fonts
@import "helpers/fonts";
@import "node_modules/font-awesome/scss/font-awesome";
//** mixin
@import "helpers/mixins";
//** import bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//** my own style
@import "default/custom";

/************************************
* components.
************************************/
//** components
//** costom form input
@import "components/input";
//** site bread
@import "components/bread";
//** page jumbotron
@import "components/page-jumbotron";
//** category-tag
@import "components/label";

/************************************
* modules
************************************/
//** nav
@import "modules/nav";
//** home newsletter form
@import "modules/newsletter";
//** technique module
@import "modules/technique";
//** footer module
@import "modules/footer";

//** series modules -- partials
@import "modules/series-page";
@import "modules/series-list";
