.blog {
    border-radius: 8px;
    @media #{$md} {
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
    }
    margin-bottom: 2.25em;
    min-height: 80px;
    overflow: hidden;
    background: #FFF;

    .category {
        bottom: auto;
        left: 0;
        position: absolute;
        right: auto;
        top: 0;
        z-index: 2;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 1px rgba(0,0,0,0.3);
        display: block;
        height: 110px;
        padding: 4px;
        position: relative;
        width: 110px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__contentã€€{
        position: absolute;
        top: calc(50% - 40px);
        left: 18%;
        @media #{$xs} {
            left: 8%;
        }
    }

    &__created_at {
        font-weight: 520;
        color: #AAA8A2;
    }

    &__title {
        font-size: 18px;
        margin: 0;
        padding-top: 12px;
        a {
            color: $font-color;
        }
    }
}

.blog__body {
    margin-top: 40px;
}
