.right-category {
    h4 {
        margin-top: 0;
        margin-bottom: 15px;
        padding-right: 12px;
        font-size: 13px;
        // text-align: center;
        font-weight: 700;
    }

    .category__wrapper {
        margin-bottom: 20px;
    }

    .list--item {
        img {
            margin-right: 8px;
        }
        span {
            font-weight: 520;
            letter-spacing: .5px;
        }
    }
}
